<section id="catalog" class="catalog js-catalog">
  <div class="container catalog-container">
    <h2 class="catalog-heder">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-link">
        <div class="catalog-card">
          <div class="catalog-photo">
            <picture class="photo">
              <source
                srcset="
                  ./img/catalog/cat-watch-01.png    1x,
                  ./img/catalog/cat-watch-01@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/cat-watch-mobile-01.png    1x,
                  ./img/catalog/cat-watch-mobile-01@2x.png 2x
                "
              />
              <img
                src="./img/catalog/cat-watch-mobile-01.png"
                alt="Tube Watch S42 Date Steel With Black Case"
              />
            </picture>
            <div class="like-heart">
              <svg class="heart-icon" width="24px" height="24px">
                <use href="./img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="overlay">
              <div class="overlay-part">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-part">
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="catalog-content">
            <p class="catalog-card-text">
              Tube Watch S42 Date Steel With Black Case
            </p>
            <p class="catalog-card-prise">€395</p>
          </div>
        </div>
      </li>
      <li class="catalog-link">
        <div class="catalog-card">
          <div class="catalog-photo">
            <picture class="photo">
              <source
                srcset="
                  ./img/catalog/cat-watch-02.png    1x,
                  ./img/catalog/cat-watch-02@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/cat-watch-mobile-02.png    1x,
                  ./img/catalog/cat-watch-mobile-02@2x.png 2x
                "
              />
              <img
                src="./img/catalog/cat-watch-mobile-02.png"
                alt="Avondale Watch Police For Men"
              />
            </picture>
            <div class="like-heart">
              <svg class="heart-icon" width="24px" height="24px">
                <use href="./img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="overlay">
              <div class="overlay-part">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-part">
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="catalog-content">
            <p class="catalog-card-text">Avondale Watch Police For Men</p>
            <p class="catalog-card-prise">€800</p>
          </div>
        </div>
      </li>
      <li class="catalog-link">
        <div class="catalog-card">
          <div class="catalog-photo">
            <picture class="photo">
              <source
                srcset="
                  ./img/catalog/cat-watch-03.png    1x,
                  ./img/catalog/cat-watch-03@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/cat-watch-mobile-03.png    1x,
                  ./img/catalog/cat-watch-mobile-03@2x.png 2x
                "
              />
              <img
                src="./img/catalog/cat-watch-mobile-03.png"
                alt="Diver 300M Co‑Axial Master Chronometer Chronograph"
              />
            </picture>
            <div class="like-heart">
              <svg class="heart-icon" width="24px" height="24px">
                <use href="./img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="overlay">
              <div class="overlay-part">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-part">
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="catalog-content">
            <p class="catalog-card-text">
              Diver 300M Co‑Axial Master Chronometer Chronograph
            </p>
            <p class="catalog-card-prise">€600</p>
          </div>
        </div>
      </li>
      <li class="catalog-link">
        <div class="catalog-card">
          <div class="catalog-photo">
            <picture class="photo">
              <source
                srcset="
                  ./img/catalog/cat-watch-04.png    1x,
                  ./img/catalog/cat-watch-04@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/cat-watch-mobile-04.png    1x,
                  ./img/catalog/cat-watch-mobile-04@2x.png 2x
                "
              />
              <img
                src="./img/catalog/cat-watch-mobile-04.png"
                alt="Diver 300M Co-Axial Master Chronometer"
              />
            </picture>
            <div class="like-heart">
              <svg class="heart-icon" width="24px" height="24px">
                <use href="./img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="overlay">
              <div class="overlay-part">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-part">
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="catalog-content">
            <p class="catalog-card-text">
              Diver 300M Co-Axial Master Chronometer
            </p>
            <p class="catalog-card-prise">€1400</p>
          </div>
        </div>
      </li>
      <li class="catalog-link">
        <div class="catalog-card">
          <div class="catalog-photo">
            <picture class="photo">
              <source
                srcset="
                  ./img/catalog/cat-watch-05.png    1x,
                  ./img/catalog/cat-watch-05@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/cat-watch-mobile-05.png    1x,
                  ./img/catalog/cat-watch-mobile-05@2x.png 2x
                "
              />
              <img
                src="./img/catalog/cat-watch-mobile-05.png"
                alt="Taman Watch By Police For Men"
              />
            </picture>
            <div class="like-heart">
              <svg class="heart-icon" width="24px" height="24px">
                <use href="./img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="overlay">
              <div class="overlay-part">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-part">
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="catalog-content">
            <p class="catalog-card-text">Taman Watch By Police For Men</p>
            <p class="catalog-card-prise">€500</p>
          </div>
        </div>
      </li>
      <li class="catalog-link">
        <div class="catalog-card">
          <div class="catalog-photo">
            <picture class="photo">
              <source
                srcset="
                  ./img/catalog/cat-watch-06.png    1x,
                  ./img/catalog/cat-watch-06@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/cat-watch-mobile-06.png    1x,
                  ./img/catalog/cat-watch-mobile-06@2x.png 2x
                "
              />
              <img
                src="./img/catalog/cat-watch-mobile-06.png"
                alt="Malawi Watch Police For Men"
              />
            </picture>
            <div class="like-heart">
              <svg class="heart-icon" width="24px" height="24px">
                <use href="./img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="overlay">
              <div class="overlay-part">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-part">
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="catalog-content">
            <p class="catalog-card-text">Malawi Watch Police For Men</p>
            <p class="catalog-card-prise">€555</p>
          </div>
        </div>
      </li>
      <li class="catalog-link">
        <div class="catalog-card">
          <div class="catalog-photo">
            <picture class="photo">
              <source
                srcset="
                  ./img/catalog/cat-watch-07.png    1x,
                  ./img/catalog/cat-watch-07@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/cat-watch-mobile-07.png    1x,
                  ./img/catalog/cat-watch-mobile-07@2x.png 2x
                "
              />
              <img
                src="./img/catalog/cat-watch-mobile-07.png"
                alt="Diver 300M Co-Axial Master Chronometer"
              />
            </picture>
            <div class="like-heart">
              <svg class="heart-icon" width="24px" height="24px">
                <use href="./img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="overlay">
              <div class="overlay-part">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-part">
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="catalog-content">
            <p class="catalog-card-text">
              Diver 300M Co-Axial Master Chronometer
            </p>
            <p class="catalog-card-prise">€1200</p>
          </div>
        </div>
      </li>
      <li class="catalog-link">
        <div class="catalog-card">
          <div class="catalog-photo">
            <picture class="photo">
              <source
                srcset="
                  ./img/catalog/cat-watch-08.png    1x,
                  ./img/catalog/cat-watch-08@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/cat-watch-mobile-08.png    1x,
                  ./img/catalog/cat-watch-mobile-08@2x.png 2x
                "
              />
              <img
                src="./img/catalog/cat-watch-mobile-08.png"
                alt="Greenlane Watch By Police For Men"
              />
            </picture>
            <div class="like-heart">
              <svg class="heart-icon" width="24px" height="24px">
                <use href="./img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="overlay">
              <div class="overlay-part">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-part">
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="catalog-content">
            <p class="catalog-card-text">Greenlane Watch By Police For Men</p>
            <p class="catalog-card-prise">€1000</p>
          </div>
        </div>
      </li>
      <li class="catalog-link">
        <div class="catalog-card">
          <div class="catalog-photo">
            <picture class="photo">
              <source
                srcset="
                  ./img/catalog/cat-watch-09.png    1x,
                  ./img/catalog/cat-watch-09@2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./img/catalog/cat-watch-09.png"
                alt="Squardrc 5402 Chrono"
              />
            </picture>
            <div class="like-heart">
              <svg class="heart-icon" width="24px" height="24px">
                <use href="./img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="overlay">
              <div class="overlay-part">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-part">
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="catalog-content">
            <p class="catalog-card-text">Squardrc 5402 Chrono</p>
            <p class="catalog-card-prise">€359</p>
          </div>
        </div>
      </li>
      <li class="catalog-link">
        <div class="catalog-card">
          <div class="catalog-photo">
            <picture class="photo">
              <source
                srcset="
                  ./img/catalog/cat-watch-10.png    1x,
                  ./img/catalog/cat-watch-10@2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                src="./img/catalog/cat-watch-10.png"
                alt="Diver 300M Co‑Axial Master Chronometer Chronograph"
              />
            </picture>
            <div class="like-heart">
              <svg class="heart-icon" width="24px" height="24px">
                <use href="./img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="overlay">
              <div class="overlay-part">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-part">
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="catalog-content">
            <p class="catalog-card-text">
              Diver 300M Co‑Axial Master Chronometer Chronograph
            </p>
            <p class="catalog-card-prise">€400</p>
          </div>
        </div>
      </li>
      <li class="catalog-link">
        <div class="catalog-card">
          <div class="catalog-photo">
            <picture class="photo">
              <source
                srcset="
                  ./img/catalog/cat-watch-11.png    1x,
                  ./img/catalog/cat-watch-11@2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <img src="./img/catalog/cat-watch-11.png" alt="Citizen" />
            </picture>
            <div class="like-heart">
              <svg class="heart-icon" width="24px" height="24px">
                <use href="./img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="overlay">
              <div class="overlay-part">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-part">
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="catalog-content">
            <p class="catalog-card-text">Citizen</p>
            <p class="catalog-card-prise">€519</p>
          </div>
        </div>
      </li>
      <li class="catalog-link">
        <div class="catalog-card">
          <div class="catalog-photo">
            <picture class="photo">
              <source
                srcset="
                  ./img/catalog/cat-watch-12.png    1x,
                  ./img/catalog/cat-watch-12@2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <img src="./img/catalog/cat-watch-12.png" alt="Armani Exchange" />
            </picture>
            <div class="like-heart">
              <svg class="heart-icon" width="24px" height="24px">
                <use href="./img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="overlay">
              <div class="overlay-part">
                <h3 class="overlay-title">Description</h3>
                <p class="overlay-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-part">
                <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Case Colour: Steel</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="catalog-content">
            <p class="catalog-card-text">Armani Exchange</p>
            <p class="catalog-card-prise">€400</p>
          </div>
        </div>
      </li>
    </ul>
    <button class="catalog-btn" type="button" data-modal-open>Buy now</button>
  </div>
</section>
