<section class="footer">
  <div class="container container-footer">
    <div class="footer-blocks">
      <div class="footer-logo-contacts">
        <div class="footer-logo">
          <a href="./index.html" class="footer-logo-link">
            <img class="footer-logo-max" src="/img/logo-50x50.svg" alt="logo" />
          </a>
        </div>
        <ul class="footer-list-contacts">
          <li class="footer-contact-item">
            <a class="footer-contact-link" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer-contact-item">
            <a
              href="https://goo.gl/maps/WfPTx864KJyST95v6"
              target="_blank"
              class="footer-contact-link"
              ><p>1678 S. Pioneer Road</p>
              <p>Salt Lake City</p>
              <p>UT 84104</p></a
            >
          </li>
        </ul>
      </div>
      <div class="footer-title-nav">
        <ul class="footer-title-nav-list">
          <li class="footer-title-nav-item">
            <a href="#about" class="footer-title-nav-link">About us</a>
          </li>
          <li class="footer-title-nav-item">
            <a href="#catalog" class="footer-title-nav-link">Catalog</a>
          </li>
          <li class="footer-title-nav-item">
            <a href="#sale" class="footer-title-nav-link">Sale</a>
          </li>
        </ul>
      </div>
      <div class="footer-social">
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              class="footer-social-link"
            >
              <svg class="footer-social-icon-small" width="24" height="24">
                <use href="/img/icons.svg#facebook-small"></use>
              </svg>
              <svg class="footer-social-icon-big" width="28" height="28">
                <use href="/img/icons.svg#facebook-big"></use></svg
            ></a>
          </li>
          <li class="footer-social-item">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              class="footer-social-link"
            >
              <svg class="footer-social-icon-small" width="24" height="24">
                <use href="/img/icons.svg#instagram-small"></use>
              </svg>
              <svg class="footer-social-icon-big" width="28" height="28">
                <use href="/img/icons.svg#instagram-big"></use></svg
            ></a>
          </li>
          <li class="footer-social-item">
            <a
              href="https://www.youtube.com/"
              target="_blank"
              class="footer-social-link"
            >
              <svg class="footer-social-icon-small" width="24" height="24">
                <use href="/img/icons.svg#youtube-small"></use>
              </svg>
              <svg class="footer-social-icon-big" width="28" height="28">
                <use href="/img/icons.svg#youtube-big"></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-copy-privacy">
      <p class="footer-privacy-desc">
        &#169;2022 The Watch Spot. All rights reserved.
      </p>
      <ul class="footer-privacy-servis">
        <li class="footer-privacy-servis-desc">
          <a href="">Privacy Policy</a>
        </li>
        <li class="footer-privacy-servis-desc">
          <a href="">Terms of Service</a>
        </li>
      </ul>
    </div>
  </div>
</section>
