<section class="footer">
  <div class="container container-footer">
    <div class="footer-logo-contacts">
      <div class="footer-logo">
        <a href="" class="footer-logo-link">
          <svg class="footer-logo-icon" width="40" height="40">
            <use href="/src/img/javascript.svg#"></use>
          </svg>
        </a>
      </div>
      <ul class="footer-list-contacts">
        <li class="footer-contact-item">
          <a class="footer-contact-link" href="tel:+380684439426"
            >+380 (68) 443-94-26</a
          >
        </li>
        <li class="footer-contact-item">
          <a
            href="https://goo.gl/maps/WfPTx864KJyST95v6"
            target="_blank"
            class="footer-contact-link"
            >1678 S. Pioneer Road Salt Lake City UT 84104</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-title-nav">
      <ul class="footer-title-nav-list">
        <li class="footer-title-nav-item">
          <a href="#about" class="footer-title-nav-link">About us</a>
        </li>
        <li class="footer-title-nav-item">
          <a href="#catalog" class="footer-title-nav-link">Catalog</a>
        </li>
        <li class="footer-title-nav-item">
          <a href="#sale" class="footer-title-nav-link">Sale</a>
        </li>
      </ul>
    </div>
    <div class="footer-social">
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a href="https://www.facebook.com/" class="footer-social-link">
            <svg class="footer-logo-icon" width="24" height="24">
              <use href="/src/img/javascript.svg#facebook-small"></use></svg
          ></a>
        </li>
        <li class="footer-social-item">
          <a href="https://www.instagram.com/" class="footer-social-link">
            <svg class="footer-social-icon" width="24" height="24">
              <use href="/src/img/javascript.svg#instagram-small"></use></svg
          ></a>
        </li>
        <li class="footer-social-item">
          <a href="https://www.youtube.com/" class="footer-social-link">
            <svg class="footer-social-icon" width="24" height="24">
              <use href="/src/img/javascript.svg#youtube-small"></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <div class="footer-copy_left">
      <p>&#169;2022 The Watch Spot. All rights reserved.</p>
      <p>Privacy Policy</p>
      <p>Terms of Service</p>
    </div>
  </div>
</section>
