<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="" class="header-logo">
        <img src="/img/logo-14x14.svg" alt="" width="14" height="14" />
        thewatchspot
      </a>
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link" href="#about">About us</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#catalog">Catalog</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#sale">Sale</a>
        </li>
      </ul>
    </nav>
    <button class="header-tel-btn">
      <a class="header-tel-link" href="tel:+380684439426"
        >+380 (68) 443-94-26</a
      >
    </button>
    <button class="menu-open" data-menu-open>
      <svg class="menu-open-icon" width="24" height="24">
        <use href="/img/icons.svg#btn-menu"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu" data-menu>
    <div class="container mobile-menu-container">
      <a href="" class="header-logo">
        <img src="/img/logo-14x14.svg" alt="" width="14" height="14" />
        thewatchspot
      </a>
      <button type="button" class="mobile-menu-close-btn" data-menu-close>
        <svg class="mobile-menu-close-icon" width="24" height="24" ;>
          <use href="/img/icons.svg#cross-big"></use>
        </svg>
      </button>
      <div class="mobile-menu-list-container">
        <ul class="mobile-menu-list">
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#about">About us</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#catalog">Catalog</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#sale">Sale</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
