<section class="section hero">
  <div class="container flex">
    <h1 class="title-hero">Welcome to our collection of premium watches</h1>

    <div class="wraper-for-slaid">
      <div class="thumb-for-watches-hero">
        <img src="" alt="watches" width="226" />
      </div>
      <div class="wraper-for-buttons">
        <button class="button-slaid left" type="button">
          <svg class="icon-for-slaid">
            <use href="../img/icons.svg#btn-prev-small"></use>
          </svg>
        </button>
        <button class="button-slaid" type="button">
          <svg class="icon-for-slaid">
            <use href="../img/icons.svg#btn-next-small"></use>
          </svg>
        </button>
        <div class="wraper-for-numbers">
          <span class="amount-watches">01</span>
          <span class="decorative"></span>
          <span class="amount-watches">05</span>
        </div>
      </div>
    </div>
    <p class="hero-text">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <img src="" alt="watch on arm" width="335" height="410" />
  </div>
</section>
