<section class="hero">
  <div class="hero-container container">
    <h1 class="hero-title">Welcome to our collection of premium watches</h1>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture class="hero-swiper-img">
            <!-- <source
                  srcset="
                   /img/slider/watch1.webp    1x,
                    /img/slider/watch1@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                /> -->
            <source
              srcset="/img/slider/watch1.png 1x, /img/slider/watch1@2x.png 2x"
              media="(min-width: 768px)"
            />
            <!-- <source
                  srcset="
                    /img/slider/watch1-mobile.webp    1x,
                    /img/slider/watch1-mobile@2x.webp 2x
                  "
                  media="(max-width: 767px)"
                  type="image/webp"
                /> -->
            <source
              srcset="
                /img/slider/watch1-mobile.png    1x,
                /img/slider/watch1-mobile@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="hero-slider-img"
              src="/img/slider/watch1-mobile.png"
              alt="clock-img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="hero-swiper-img">
            <!-- <source
                  srcset="
                   /img/slider/watch2.webp    1x,
                    /img/slider/watch2@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                /> -->
            <source
              srcset="/img/slider/watch2.png 1x, /img/slider/watch2@2x.png 2x"
              media="(min-width: 768px)"
            />
            <!-- <source
                  srcset="
                    /img/slider/watch2-mobile.webp    1x,
                    /img/slider/watch2-mobile@2x.webp 2x
                  "
                  media="(max-width: 767px)"
                  type="image/webp"
                /> -->
            <source
              srcset="
                /img/slider/watch2-mobile.png    1x,
                /img/slider/watch2-mobile@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="hero-slider-img"
              src="/img/slider/watch2-mobile.png"
              alt="clock-img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="hero-swiper-img">
            <!-- <source
                  srcset="
                   /img/slider/watch3.webp    1x,
                    /img/slider/watch3@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                /> -->
            <source
              srcset="/img/slider/watch3.png 1x, /img/slider/watch3@2x.png 2x"
              media="(min-width: 768px)"
            />
            <!-- <source
                  srcset="
                    /img/slider/watch3-mobile.webp    1x,
                    /img/slider/watch3-mobile@2x.webp 2x
                  "
                  media="(max-width: 767px)"
                  type="image/webp"
                /> -->
            <source
              srcset="
                /img/slider/watch3-mobile.png    1x,
                /img/slider/watch3-mobile@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="hero-slider-img"
              src="/img/slider/watch3-mobile.png"
              alt="clock-img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="hero-swiper-img">
            <!-- <source
                  srcset="
                   /img/slider/watch4.webp    1x,
                    /img/slider/watch4@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                /> -->
            <source
              srcset="/img/slider/watch4.png 1x, /img/slider/watch4@2x.png 2x"
              media="(min-width: 768px)"
            />
            <!-- <source
                  srcset="
                    /img/slider/watch4-mobile.webp    1x,
                    /img/slider/watch4-mobile@2x.webp 2x
                  "
                  media="(max-width: 767px)"
                  type="image/webp"
                /> -->
            <source
              srcset="
                /img/slider/watch4-mobile.png    1x,
                /img/slider/watch4-mobile@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="hero-slider-img"
              src="/img/slider/watch4-mobile.png"
              alt="clock-img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="hero-swiper-img">
            <!-- <source
                  srcset="
                   /img/slider/watch5.webp    1x,
                    /img/slider/watch5@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                /> -->
            <source
              srcset="/img/slider/watch5.png 1x, /img/slider/watch5@2x.png 2x"
              media="(min-width: 768px)"
            />
            <!-- <source
                  srcset="
                    /img/slider/watch5-mobile.webp    1x,
                    /img/slider/watch5-mobile@2x.webp 2x
                  "
                  media="(max-width: 767px)"
                  type="image/webp"
                /> -->
            <source
              srcset="
                /img/slider/watch5-mobile.png    1x,
                /img/slider/watch5-mobile@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="hero-slider-img"
              src="/img/slider/watch5-mobile.png"
              alt="clock-img"
            />
          </picture>
        </div>
      </div>
      <div class="hero-swiper-nav">
        <div class="hero-btn-wrap">
          <button class="swiper-btn swiper-btn-prev" type="button">
            <svg class="hero-icon-btn-small">
              <use href="/img/icons.svg#btn-prev-small"></use>
            </svg>
            <svg class="hero-icon-btn-big">
              <use href="/img/icons.svg#btn-prev-big"></use>
            </svg>
          </button>
          <button class="swiper-btn swiper-btn-next" type="button">
            <svg class="hero-icon-btn-small">
              <use href="/img/icons.svg#btn-next-small"></use>
            </svg>
            <svg class="hero-icon-btn-big">
              <use href="/img/icons.svg#btn-next-big"></use>
            </svg>
          </button>
        </div>
        <div class="hero-swiper-pagination">
          <p class="hero-swiper-pagination-number">
            <span class="hero-current-slide currentClass">01</span
            ><span class="hero-swiper-pagination-line"></span
            ><span class="hero-quantity-slide">05</span>
          </p>
        </div>
      </div>
    </div>
    <p class="hero-text">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <picture class="hero-watch">
      <!-- <source
                  srcset="
                    /img/hero-images/hero-desktop.webp    1x,
                    /img/hero-images/hero-desktop@2x.webp 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/webp"
                /> -->
      <source
        srcset="
          /img/hero-images/hero-desktop.jpg    1x,
          /img/hero-images/hero-desktop@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <!-- <source
                  srcset="
                    /img/hero-images/hero-tablet.webp    1x,
                    /img/hero-images/hero-tablet@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                /> -->
      <source
        srcset="
          /img/hero-images/hero-tablet.jpg    1x,
          /img/hero-images/hero-tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <!-- <source
                  srcset="
                    /img/hero-images/hero-mobile.webp    1x,
                   /img/hero-images/hero-mobile@2x.webp 2x
                  "
                  media="(max-width: 767px)"
                  type="image/webp"
                /> -->
      <source
        srcset="
          /img/hero-images/hero-mobile.jpg    1x,
          /img/hero-images/hero-mobile@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="hero-watch-img"
        src="/img/hero-images/hero-mobile.jpg"
        alt="watch-on-hand-img"
      />
    </picture>
  </div>
</section>
