<section class="sale-section container">
  <h2 class="sale-title">Sale</h2>
  <div class="sale-conteiner">
    <div class="sale-conteiner-img">
      <ul class="sale-list-img">
        <li class="sale-img">
        <picture>
          <source 
          srcset=
          "../img/sale/image1.png 1x,
          ../img/sale/image1@2x.png 2x"
          media="(min-width: 768px)"
          />
          <source 
          srcset="
          ../img/sale/image1-mobile.png 1x,
          ../img/sale/image1-mobile@2x.png 2x" 
          media="(min-width: 375px)"/>
          <img src="../img/sale/image1-mobile.jpg" alt="watch_1">
        </picture>  
        </li>
        <li class="sale-img">
          <source 
          srcset="
          ../img/sale/image2.jpg 1x,
          ../img/sale/image2@2x.jpg 2x" 
          media="(min-width: 768px)" />
          <source 
          srcset="
          ../img/sale/image2-mobile.jpg 1x,
          ../img/sale/image2-mobile@2x.jpg 2x" 
          media="(min-width: 375px)" />
          <img src="../img/sale/image2-mobile.jpg" alt="watch_2">
        </li>
        <li class="sale-img">
          <img 
          src="../img/sale/image3-mobile.jpg" 
          alt="watch_3" 
          width="80" 
          height="80"></li>
        <li class="sale-img">
          <img 
          src="../img/sale/image4-mobile.jpg" 
          alt="watch_4" 
          width="80" 
          height="80"></li>
      </ul>
      <div>
        <img class="sale-img-big" 
        src="../img/sale/image1-mobile-big.jpg" 
        alt="" 
        width="235" 
        height="350">
      </div>
    </div>
    <div class="sale-conteiner-desc">
      <div class="sale-suptitle-one">
        <h3 class="sale-suptitle">Greenlane Watch By Police For MenHT</h3>
        <p class="sale-text-tag">Product tag: PEWJK2227003</p>
        <div class="sale-valuable">
          <p class="sale-val">€700</p>
          <p class="sale-val-sale">€1000</p>
        </div>
      </div>
      <div class="sale-suptitle-two">
        <div class="sale-desc">
          <h3 class="sale-desc-text">DESCRIPTION</h3>
        </div>
        <p class="sale-text">Richly detailed with an understated design - the Police Men’s Greenlane watch
          features a versatile
          multifunction design
          that fits effortlessly into work and play. The steel case is adorned with a semi-transparent black
          dial. The
          timepiece
          exhibits a contrast through a black IP bracelet with matching crown and pushers.
        </p>
      </div>
      <div class="sale-suptitle-three">
        <div class="sale-desc">
          <h3 class="sale-desc-text">DETAILS & FEATURESTION
          </h3>
        </div>
        <ul class="sale-list">
          <li class="sale-text">Gender: man</li>
          <li class="sale-text">Size: 46x54.5mm</li>
          <li class="sale-text">Case Colour: Steel</li>
          <li class="sale-text">Band Material: Metal</li>
          <li class="sale-text">Case Material: Metal</li>
          <li class="sale-text">Features: Multifunction</li>
          <li class="sale-text">Water Resistant: 5 (ATM)</li>
          <li class="sale-text">Band Colour: Steel</li>
        </ul>
      </div>
    </div>
  </div>
</section>
