@font-face {
    font-family: 'Neue Montreal';
    src: local('Neue Montreal Regular'), local('Neue-Montreal-Regular'),
        url('./fonts/NeueMontreal-Regular/NeueMontreal-Regular.woff2') format('woff2'),
        url('./fonts/NeueMontreal-Regular/NeueMontreal-Regular.woff') format('woff'),
        url('./fonts/NeueMontreal-Regular/NeueMontreal-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Epilogue-Variable';
    src: url('../fonts/Epilogue/Epilogue-Variable.woff2') format('woff2'),
        url('../fonts/Epilogue/Epilogue-Variable.woff') format('woff'),
        url('../fonts/Epilogue/Epilogue-Variable.ttf') format('truetype');
    font-weight: 300 400 900;
    font-display: swap;
    font-style: normal;
}