:root {
  --modal-primary-accent-color: #404bbf;
  --modal-icon-stroke: #141414;
  --primary-text-color: #141414;
  --secondary-text-color: rgba(20, 20, 20, 0.5);
  --modal-transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ========ЗАГАЛЬНІ=СТИЛІ======== */

button {
  cursor: pointer;
}

/* ========ЗАГАЛЬНІ=СТИЛІ=END======== */

/* ========MODAL=WINDOW======== */

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  transition: opacity var(--modal-transition-duration-and-func),
    visibility var(--modal-transition-duration-and-func);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #ffffff;
  box-shadow: 0px 0px 223px rgba(0, 0, 0, 0.05),
    0px 0px 130.6px rgba(0, 0, 0, 0.037963),
    0px 0px 71.0296px rgba(0, 0, 0, 0.0303704),
    0px 0px 36.2375px rgba(0, 0, 0, 0.025),
    0px 0px 18.1704px rgba(0, 0, 0, 0.0196296),
    0px 0px 8.77546px rgba(0, 0, 0, 0.012037);
  transition: transform var(--modal-transition-duration-and-func);
}

.product-card {
  margin-left: auto;
  margin-right: auto;
}

.product-img-wrap {
  height: 325px;
  padding-top: 26px;
}

.product-img {
  width: 100%;
  height: auto;
}

.modal-win-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card-text {
  padding-top: 14px;
}

.product-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  /* стилі тексту */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
}

.product-price {
  margin-top: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--secondary-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: inherit;
}

.modal-close-btn:focus {
  outline: none;
}

.modal-close-btn-icon-small {
  width: 20px;
  height: 20px;
  stroke: var(--modal-icon-stroke);
  transition: stroke var(--modal-transition-duration-and-func);
}

.modal-close-btn-icon-big {
  display: none;
}

.modal-close-btn:hover .modal-close-btn-icon-small {
  stroke: var(--modal-primary-accent-color);
}

.modal-close-btn:focus .modal-close-btn-icon-small {
  stroke: var(--modal-primary-accent-color);
}

.modal-form-field:not(:first-child) {
  margin-top: 18px;
}

.modal-form-desc {
  display: block;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
}

.modal-form-input {
  width: 100%;
  height: 42px;
  border: 1px solid rgba(20, 20, 20, 0.5);
  border-radius: 8px;
  padding: 12px 16px;
  /* стилі тексту */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #000000;
  transition: border-color var(--modal-transition-duration-and-func);
}

.modal-form-input::placeholder {
  color: var(--secondary-text-color);
}

.modal-form-input:hover,
.modal-form-input:focus {
  outline: none;
  border: 1px solid var(--modal-primary-accent-color);
}

.modal-form-input:not(:placeholder-shown):required:invalid {
  border-color: red;
}

.modal-form-message {
  display: block;
  height: 170px;
  resize: none;
}

.modal-form-message::placeholder {
  color: var(--secondary-text-color);
}

.modal-form-btn {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 12px;
  padding: 18px;
  background: #1e2827;
  border-radius: 8px;
  border-color: transparent;
  /* стилі тексту */
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  transition: background-color var(--modal-transition-duration-and-func);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--modal-primary-accent-color);
}

.modal-form-text {
  width: 100%;
  /* стилі тексту */
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.4);
}

.modal-form-text > a {
  color: inherit;
}

/* ========MODAL=WINDOW=END======== */

@media screen and (max-width: 767px) {
  .modal {
    width: 100%;
    max-width: 335px;
  }

  .product-card {
    max-width: 276px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 40px;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .product-card {
    width: 276px;
  }

  .product-img {
    width: max-content;
  }

  .modal-win-wrap {
    flex-direction: row;
    gap: 20px;
  }

  .modal-form {
    width: 368px;
  }

  .modal-close-btn {
    right: 20px;
    top: 20px;
    width: 24px;
    height: 24px;
  }

  .modal-close-btn-icon-small {
    display: none;
  }

  .modal-close-btn-icon-big {
    display: block;
    width: 24px;
    height: 24px;
    stroke: var(--modal-icon-stroke);
    transition: stroke var(--modal-transition-duration-and-func);
  }

  .modal-close-btn:hover .modal-close-btn-icon-big {
    stroke: var(--modal-primary-accent-color);
  }

  .modal-close-btn:focus .modal-close-btn-icon-big {
    stroke: var(--modal-primary-accent-color);
  }

  .modal-form-field:not(:first-child) {
    margin-top: 24px;
  }

  .modal-form-desc {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
  }

  .modal-form-input {
    /* стилі тексту */
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.02em;
  }

  .modal-form-message {
    height: 166px;
    /* стилі тексту */
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.02em;
  }
  @media screen and (max-height: 688px) {
    .modal {
      left: 50%;
      top: 0;
      transform: translate(-50%, 0%);
    }
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    border-radius: 8px;
  }

  .modal-win-wrap {
    gap: 40px;
  }

  .modal-form {
    width: 508px;
  }

  .modal-form-btn {
    margin-top: 40px;
  }

  .modal-form-text > span {
    display: block;
  }
  @media screen and (max-height: 694px) {
    .modal {
      left: 50%;
      top: 0;
      transform: translate(-50%, 0%);
    }
  }
}
