.sale-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.sale-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
    margin-bottom: 40px;
}

.sale-conteiner-img {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.sale-list-img {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sale-img {
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
}

.sale-img-center {
    display: flex;
    justify-content: center;
}

.sale-img-big {
    display: block;
    width: 100%;
    height: 100%;
}

.sale-suptitle-one {
    margin-bottom: 40px;
}

.sale-suptitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 8px;
}

.sale-text-tag {
    font-weight: 400;
    color: rgba(20, 20, 20, 0.5);
    margin-bottom: 16px;
}

.sale-valuable {
    display: flex;
    gap: 8px;
}

.sale-val {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
}

.sale-val-sale {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: rgba(20, 20, 20, 0.5);
    text-decoration: line-through;
    display: flex;
    align-items: flex-end;
}

.sale-suptitle-two {
    margin-bottom: 40px;
}

.sale-desc {
    padding-bottom: 8px;
    margin-bottom: 9px;
    display: flex;
    flex-direction: column;
}

.sale-desc::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: black;
    margin-bottom: 8px;
}

.sale-text {
    font-weight: 400;
    color: rgba(20, 20, 20, 0.5);
}

.sale-desc-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sale-desc-text::after {
    content: '';
    width: 16px;
    height: 1px;
    background-color: black;
}



@media screen and (min-width: 375px) {}

/* Tablet adaptive container */
@media screen and (min-width: 768px) {

    .sale-section {
        padding-top: 128px;
        padding-bottom: 128px;
    }

    .sale-title {
        font-size: 40px;
        line-height: 1.1;
    }

    .sale-conteiner {
        padding-left: 66px;
        padding-right: 66px;
    }

    .sale-img {
        width: 146px;
        height: 146px;
    }

    .sale-img-big {
        width: 406px;
        height: 614px;
    }

    .sale-suptitle {
        font-size: 38px;
    }

}

/* Desktop adaptive container */
@media screen and (min-width: 1280px) {
    .sale-section {
        padding-top: 80px;
        padding-bottom: 160px;
    }

    .sale-conteiner {
        display: flex;
        padding-left: 98px;
        padding-right: 98px;
        gap: 40px;
    }

    .sale-conteiner-img {
        margin-bottom: 0;
    }

    .sale-suptitle-two {
        margin-bottom: 20px;
    }
}