/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/


@import url('./reset.css');
@import url('./fonts.css');
@import url('./variables.css');
@import url('./utilities.css');

/* Partial CSS */
@import url('./header.css');
@import url('./hero.css');
@import url('./about-us.css');
@import url('./catalog.css');
@import url('./new-watches.css');
@import url('./sale.css');
@import url('./footer.css');
@import url('./modal.css');