body {
    font-family: "Epilogue", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--black-color);
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

/* Mobile responsive container */
@media screen and (min-width: 375px) {
    .container {
        width: calc(335px + 2*20px);
        margin-left: auto;
        margin-right: auto;
    }
}

/* Tablet adaptive container */
@media screen and (min-width: 768px) {
    .container {
        width: calc(704px + 2*32px);
        padding-left: 32px;
        padding-right: 32px;
    }
}

/* Desktop adaptive container */
@media screen and (min-width: 1280px) {
    .container {
        width: calc(1176px + 2*24px);
        padding-left: 24px;
        padding-right: 24px;
    }
}